[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-git"]
	path = bundle/nerdtree-git
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
